# DATABASE URL
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# Postgres variables
POSTGRES_USER=''
POSTGRES_PASSWORD=""
POSTGRES_DB=''
POSTGRES_PORT=
POSTGRES_HOST=''

# PgAdmin variables
PGADMIN_DEFAULT_EMAIL=''
PGADMIN_DEFAULT_PASSWORD=''
PGADMIN_PORT=
